<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hawkeye.mapper.remapper.PopularMapper">
<!--????-->
<!--    正在热映-->
<!--    这条SQL的 where BETWEEN -50 AND 0  中的-50要根据数据情况而改不然没数据-->
    <select id="getPopular" resultMap="popularList">
        SELECT  mo.`id`,mo.`movie_main_title`,mo.`release_time`, mo.`default_img`,
                CAST(AVG(umc.`score`) AS DECIMAL(2,1))AS score,
                mr.`id` AS region_id, mr.region_name,mt.`id` AS type_id, mt.`type_name` ,YEAR(mo.`release_time`) AS `year`
        FROM `movie` AS mo
            LEFT JOIN user_movie_comment AS umc ON umc.`movie_id` = mo.`id`
            INNER JOIN movie_region AS mr ON mr.id = mo.movie_region_id
            INNER JOIN `movie_relation_type` AS mrt ON mrt.movie_id =  mo.id
            INNER JOIN `movie_type` AS mt ON mt.id = mrt.movie_type_id
        WHERE TIMESTAMPDIFF(DAY,NOW() , mo.release_time) BETWEEN -50 AND 0
            AND mo.is_upper_shelf = 1
            GROUP BY mo.id,mrt.movie_type_id
    </select>
    <resultMap id="popularList" type="Popular">
        <result property="id" column="id"></result>
        <result property="movieMainTitle" column="movie_main_title"></result>
        <result property="releaseTime" column="release_time"></result>
        <result property="defaultImg" column="default_img"></result>
        <result property="score" column="score"></result>
        <result property="regionName" column="region_name"></result>
        <result property="typeName" column="type_name"></result>
        <result property="regionId" column="region_id"></result>
        <result property="typeId" column="type_id"></result>
        <result property="year" column="year"></result>
    </resultMap>



</mapper>